fastapi
uvicorn[standard]
mysql-connector-python
python-dotenv
passlib
python-jose
# pydantic
python-multipart
# fastapi-mail
PyJWT
# pydantic[email]
slowapi
email-validator
sqlalchemy
pymysql
pydantic==2.11.10
fastapi-mail==1.5.0
