fastapi
uvicorn[standard]
mysql-connector-python
python-dotenv
passlib
python-jose
pydantic
python-multipart
fastapi_mail
fastapi-mail
PyJWT
pydantic[email]
slowapi
email-validator
pydantic
PyJWT
python-jose
sqlalchemy
pymysql
cryptography